<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR358ih2f3iH_YwL9XMnpB7q-iCauhJto</string>
	<key>GCM_SENDER_ID</key>
	<string>15460675966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beakbuddy.app</string>
	<key>PROJECT_ID</key>
	<string>beakbuddy-march2026</string>
	<key>STORAGE_BUCKET</key>
	<string>beakbuddy-march2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:15460675966:ios:4ae864e4d28804daf6c32f</string>
</dict>
</plist>
